In [1]:
from fetchopendata import fetch_road_network_info, fetch_abs_erp_lga2021_western_australia

c:\Users\e81005\Miniconda39\lib\site-packages\pandasdmx\remote.py:11: RuntimeWarning: optional dependency requests_cache is not installed; cache options to Session() have no effect
  warn(

In [3]:
fetch_road_network_info(additional_params={"where":"ROAD='H001'"})

Downloading 492 records:


Download Completed. received 492 records

,ROAD,START_SLK,END_SLK,CWY,NETWORK_TYPE,START_TRUE_DIST,END_TRUE_DIST,RA_NO
0,H001,0.00,0.03,Left,State Road,0.00,0.03,07
1,H001,0.03,0.08,Left,State Road,0.03,0.08,07
2,H001,0.08,0.10,Left,State Road,0.08,0.10,07
3,H001,0.10,0.24,Left,State Road,0.10,0.24,07
4,H001,0.24,0.27,Single,State Road,0.24,0.27,07
...,...,...,...,...,...,...,...,...
487,H001,403.57,403.69,Right,State Road,403.10,403.22,01
488,H001,403.69,404.01,Right,State Road,403.22,403.54,01
489,H001,404.01,404.05,Right,State Road,403.54,403.58,01
490,H001,404.05,404.09,Right,State Road,403.58,403.62,01
491,H001,404.09,404.18,Right,State Road,403.62,403.71,01

In [4]:
fetch_abs_erp_lga2021_western_australia()

2022-06-09 11:45:00,955 pandasdmx.reader.sdmxml - DEBUG: Truncate sub-microsecond time in <Prepared>

TIME_PERIOD,REGION,FREQ,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albany,Annual,34518.0,34873.0,35643.0,36318.0,36919.0,37206.0,37285.0,37555.0,37820.0,38062.0,38303.0,38370.0
1,Armadale,Annual,61858.0,65395.0,69101.0,72662.0,75559.0,78848.0,82021.0,84669.0,87607.0,90843.0,93953.0,96128.0
2,Ashburton,Annual,9510.0,10227.0,11194.0,12025.0,12515.0,13002.0,13311.0,13273.0,13327.0,13311.0,13333.0,13285.0
3,Augusta Margaret River,Annual,11951.0,12228.0,12870.0,13487.0,13996.0,14419.0,14819.0,15234.0,15694.0,16182.0,16704.0,17130.0
4,Bassendean,Annual,14897.0,15179.0,15527.0,15828.0,16003.0,15842.0,15613.0,15617.0,15735.0,15828.0,15976.0,16031.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Wyalkatchem,Annual,526.0,542.0,539.0,541.0,535.0,533.0,522.0,515.0,498.0,492.0,492.0,483.0
133,Wyndham-East Kimberley,Annual,8111.0,8195.0,8228.0,8243.0,8020.0,7780.0,7478.0,7412.0,7315.0,7343.0,7355.0,7337.0
134,Yalgoo,Annual,377.0,417.0,425.0,426.0,405.0,378.0,350.0,356.0,357.0,356.0,351.0,354.0
135,Yilgarn,Annual,1634.0,1675.0,1612.0,1539.0,1426.0,1314.0,1213.0,1195.0,1169.0,1164.0,1151.0,1135.0
136,York,Annual,3410.0,3462.0,3547.0,3619.0,3609.0,3599.0,3605.0,3608.0,3591.0,3574.0,3623.0,3618.0